services:
{% if docker_enable_autoheal %}
  autoheal:
    image: willfarrell/autoheal:latest
    container_name: autoheal
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      AUTOHEAL_CONTAINER_LABEL: "all"

{% endif %}
  seq:
    image: datalust/seq:latest
    container_name: seq
    restart: unless-stopped
    environment:
      - "TZ={{ timezone }}"
      - "PUID={{ service_uid }}"
      - "PGID={{ service_gid }}"
      - "ACCEPT_EULA=Y"
      - "SEQ_API_CANONICALURI=https://{{ seq_subdomain }}.{{ swag_domain }}"
      - "SEQ_FIRSTRUN_NOAUTHENTICATION=true"
    ports:
      - 8345:80
    volumes:
      - "{{ seq_mount_path }}:/data:rw"
      - "{{ seq_backup_disk_path }}:/data/backups:rw"
    networks:
      swag_proxy:
      seq_ingestion:
        aliases:
          - "{{ seq_hostname }}"
    labels:
      autoheal: "true"
    healthcheck:
      test: ["CMD-SHELL", "curl 0.0.0.0:5341 || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s

  seq-gelf-input:
    image: datalust/seq-input-gelf:latest
    container_name: seq-gelf-input
    restart: unless-stopped
    depends_on:
      - seq
    ports:
      - "{{ seq_gelf_input_port }}:12201/udp"
    environment:
      TZ: "{{ timezone }}"
      PUID: "{{ service_uid }}"
      PGID: "{{ service_gid }}"
      SEQ_ADDRESS: "http://{{ seq_hostname }}:5341"
      # GELF_ADDRESS: "127.0.0.1:12201/udp"
    networks:
      seq_ingestion:

  homeassistant:
    image: homeassistant/home-assistant:latest
    container_name: homeassistant
    restart: unless-stopped
    depends_on:
      - seq-gelf-input
    environment:
      TZ: "{{ timezone }}"
      PUID: "{{ service_uid }}"
      PGID: "{{ service_gid }}"
      DISABLE_JEMALLOC: "true"
    ports:
      - 8123:8123
    volumes:
      - "{{ homeassistant_backup_disk_path }}:/config/backups:rw"
      - "{{ homeassistant_mount_path }}:/config:rw"
      - /run/dbus:/run/dbus:ro
    devices:
      - "{{ zigbee2mqtt_serial_port }}:{{ zigbee2mqtt_serial_port }}"
    networks:
      homeassistant_backend:
      swag_proxy:
      mqtt_connection:
    labels:
      autoheal: "true"
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://0.0.0.0:8123/manifest.json || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    logging:
      driver: gelf
      options:
        gelf-address: "{{ seq_gelf_input_address }}"

  mqtt:
    image: eclipse-mosquitto:latest
    container_name: mqtt
    restart: unless-stopped
    depends_on:
      - seq-gelf-input
    environment:
      TZ: "{{ timezone }}"
      PUID: "{{ service_uid }}"
      PGID: "{{ service_gid }}"
    ports:
      - 9001:9001
    volumes:
      - "{{ mqtt_mount_path }}:/mosquitto:rw"
    networks:
      mqtt_connection:
        aliases:
          - "{{ mqtt_hostname }}"
    labels:
      autoheal: "true"
    healthcheck:
      test: ["CMD-SHELL", "netstat -tnlp | grep -q {{ mqtt_port }}; echo $?"]
    logging:
      driver: gelf
      options:
        gelf-address: "{{ seq_gelf_input_address }}"

  zigbee2mqtt:
    container_name: zigbee2mqtt
    image: ghcr.io/koenkk/zigbee2mqtt:latest
    depends_on:
      - mqtt
      - seq-gelf-input
    restart: unless-stopped
    environment:
      TZ: "{{ timezone }}"
      PUID: "{{ service_uid }}"
      PGID: "{{ service_gid }}"
      ZIGBEE2MQTT_CONFIG_MQTT_SERVER: "mqtt://{{ mqtt_hostname }}:{{ mqtt_port }}"
      ZIGBEE2MQTT_CONFIG_MQTT_VERSION: "{{ mqtt_version }}"
      ZIGBEE2MQTT_CONFIG_MQTT_BASE_TOPIC: "{{ zigbee2mqtt_base_topic }}"
      ZIGBEE2MQTT_CONFIG_SERIAL_PORT: "{{ zigbee2mqtt_serial_port }}"
      ZIGBEE2MQTT_CONFIG_SERIAL_ADAPTER: "{{ zigbee2mqtt_serial_adapter }}"
      ZIGBEE2MQTT_CONFIG_SERIAL_BAUDRATE: "{{ zigbee2mqtt_serial_baudrate }}"
      ZIGBEE2MQTT_CONFIG_SERIAL_RTSCTS: "{{ zigbee2mqtt_serial_rtscts }}"
      ZIGBEE2MQTT_CONFIG_FRONTEND_ENABLED: "{{ zigbee2mqtt_frontend_enabled }}"
      ZIGBEE2MQTT_CONFIG_FRONTEND_PORT: "8080"
      ZIGBEE2MQTT_CONFIG_HOMEASSISTANT_ENABLED: "true"
    ports:
      - 8234:8080
    volumes:
      - "{{ zigbee2mqtt_mount_path }}:/app/data:rw"
      - "/run/udev:/run/udev:ro"
    devices:
      - "{{ zigbee2mqtt_serial_port }}:{{ zigbee2mqtt_serial_port }}"
    networks:
      homeassistant_zigbee2mqtt:
      mqtt_connection:
      swag_proxy:
    labels:
      autoheal: "true"
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:8080/ || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    logging:
      driver: gelf
      options:
        gelf-address: "{{ seq_gelf_input_address }}"

  govee2mqtt:
    image: ghcr.io/wez/govee2mqtt:latest
    container_name: govee2mqtt
    restart: unless-stopped
    depends_on:
      - mqtt
      - seq-gelf-input
    environment:
      TZ: "{{ timezone }}"
      PUID: "{{ service_uid }}"
      PGID: "{{ service_gid }}"
      GOVEE_TEMPERATURE_SCALE: "{{ govee2mqtt_temperature_scale }}"
      RUST_LOG_STYLE: "always"
      GOVEE_MQTT_HOST: "{{ mqtt_hostname }}"
      GOVEE_MQTT_PORT: "{{ mqtt_port }}"
      COLORBT_SHOW_HIDDEN: "1"
    volumes:
      - "{{ govee2mqtt_mount_path }}:/data:rw"
    networks:
      host_vlan:
      homeassistant_govee2mqtt:
      mqtt_connection:
    logging:
      driver: gelf
      options:
        gelf-address: "{{ seq_gelf_input_address }}"

  swag:
    image: ghcr.io/linuxserver/swag:latest
    container_name: swag
    restart: unless-stopped
    depends_on:
      - seq
      - seq-gelf-input
      - homeassistant
      - zigbee2mqtt
    cap_add:
      - NET_ADMIN
    environment:
      TZ: "{{ timezone }}"
      PUID: "{{ service_uid }}"
      PGID: "{{ service_gid }}"
      URL: "{{ swag_domain }}"
      SUBDOMAINS: "{{ swag_subdomains | join(',') }}"
      VALIDATION: "{{ swag_validation_method }}"
      DNSPLUGIN: "cloudflare"
      EMAIL: "{{ swag_letsencrypt_email }}"
    ports:
      - "{{ swag_https_port }}:{{ swag_https_port }}"
      - "{{ swag_http_port }}:{{ swag_http_port }}"
    volumes:
      - "{{ swag_mount_path }}:/config:rw"
    labels:
      autoheal: "true"
    healthcheck:
      test: ['CMD-SHELL', 'netstat -tnlp | grep -q {{ swag_https_port }}; echo $?']
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
    networks:
      swag_proxy:
    logging:
      driver: gelf
      options:
        gelf-address: "{{ seq_gelf_input_address }}"

networks:
  homeassistant_backend:
    driver: bridge
  swag_proxy:
    driver: bridge
  homeassistant_zigbee2mqtt:
    driver: bridge
  homeassistant_govee2mqtt:
    driver: bridge
  host_vlan:
    driver: macvlan
    driver_opts:
      parent: {{ docker_network_interface }}
    ipam:
      config:
        - subnet: {{ local_lan_cidr }}
          gateway: {{ local_lan_default_gateway }}
          ip_range: {{ govee2mqtt_ip_range_cidr }}
  mqtt_connection:
    driver: bridge
  seq_ingestion:
    driver: bridge
