agree-tos=true
max-log-backups=0
server=https://acme-v02.api.letsencrypt.org/directory
domains={{ swag_domains | join(',') }}
register-unsafely-without-email=false
preferred-challenges=dns
authenticator=dns-cloudflare
dns-cloudflare-credentials=/config/dns-conf/cloudflare.ini
email={{ swag_letsencrypt_email }}
no-eff-email=true
