server {
    listen {{ swag_https_port }} ssl;
    listen [::]:{{ swag_https_port }} ssl;
    server_name {{ homeassistant_subdomain }}.{{ swag_domain }};
    include /config/nginx/ssl.conf;
    client_max_body_size 0;
    location / {
        include /config/nginx/proxy.conf;
        include /config/nginx/resolver.conf;
        set $upstream_app homeassistant;
        set $upstream_port 8123;
        set $upstream_proto http;
        proxy_pass $upstream_proto://$upstream_app:$upstream_port;
    }
    location /api {
        include /config/nginx/proxy.conf;
        include /config/nginx/resolver.conf;
        set $upstream_app homeassistant;
        set $upstream_port 8123;
        set $upstream_proto http;
        proxy_pass $upstream_proto://$upstream_app:$upstream_port;
    }
}

server {
    listen {{ tailscale_address }}:{{ swag_http_port }};
    listen {{ ansible_default_ipv4.address }}:{{ swag_http_port }};
    listen 127.0.0.1:{{ swag_http_port }};

    server_name {{ ansible_host }}, {{ homeassistant_subdomain }}.{{ swag_domain }};
{% for cidr in swag_internal_cidrs %}
    allow {{ cidr }};
{% endfor %}
    deny all;
    client_max_body_size 0;
    location / {
        include /config/nginx/proxy.conf;
        include /config/nginx/resolver.conf;
        set $upstream_app homeassistant;
        set $upstream_port 8123;
        set $upstream_proto http;
        proxy_pass $upstream_proto://$upstream_app:$upstream_port;
    }
    location /api {
        include /config/nginx/proxy.conf;
        include /config/nginx/resolver.conf;
        set $upstream_app homeassistant;
        set $upstream_port 8123;
        set $upstream_proto http;
        proxy_pass $upstream_proto://$upstream_app:$upstream_port;
    }
}
