# Update host
apt update -y
apt full-upgrade -y

# Update Docker images and restart containers
cd {{ docker_compose_path }}
docker compose down # Stop containers to allow for clean image updates
sleep 5 # Wait for containers to stop before proceeding

# Backup current configuration before updating images
{% for service, backup_attrs in backup_mapping.items() %}
# Backup for {{ service }}
echo "Backing up {{ service }}: '{{ backup_attrs.src }}' to '{{ backup_attrs.dest }}'..."
mkdir -p "{{ backup_attrs.dest }}/patching_backup" # Ensure backup directory exists
tar -czf "{{ backup_attrs.dest }}/patching_backup/{{ backup_attrs.src | basename }}_backup_$(date +%Y%m%d%H%M%S).tgz" -C "{{ backup_attrs.src }}" . # Create timestamped backup
find "{{ backup_attrs.dest }}/patching_backup" -type f -name "*.tgz" -printf '%T+ %p\n' | sort -r | awk 'NR>{{ backup_attrs.quantity }}{print $2}' | xargs -r rm -- # Remove old backups, keeping only the specified number of most recent

{% endfor %}
echo "Backup of {{ backup_mapping.keys() | length }} services complete. Proceeding with image updates..."

# Update Docker images and restart containers
docker compose pull # Update current images
docker compose up -d --force-recreate --remove-orphans # Apply updated images
echo "Cleaning old orphaned images in 15 seconds..."
sleep 15
docker image prune -af # Clean up old images

# Reboot to apply any necessary system updates
echo "Update complete. Rebooting to apply any necessary system updates."
echo "Rebooting in 5 seconds..."
sleep 5
shutdown -r now
